streamlit
python-dotenv

pinecone>=7.3.0
sentence-transformers

ollama
langchain_ollama
requests

# Web search (free)
duckduckgo_search

# Transcription
openai-whisper
pydub

# Text extraction
PyPDF2
python-docx

# Utils
tqdm
numpy
Pillow
